<div class="row">
  <div class="col s4 offset-s1">
    <div class="card blue">
    <div class="card-image">
      <img class="responsive-img image-card" src="https://thebenclark.files.wordpress.com/2014/03/facebook-default-no-profile-pic.jpg">
    </div>
      <div class="card-content white-text">
        <span class="card-title"><%= @student.first_name%> <%= @student.last_name %></span>    
          <br>
          <% if !@student.about.blank? %>
            <h5> <%= @student.about %> </h5>
            <br>
          <% end %>
          <strong> Email: </strong> <br> 
          <%= @student.email%>  
          <% if !@student.phone_number.blank? %>
            <strong> Phone Number: </strong> 
          <%= @student.phone_number%>
          <% end %>
          <br>
          <br>
          <% if current_student? %>
            <div class="card-action">
              <a href='/students/edit'>Edit Profile</a>
            </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col s6 ">
    <div class="card">
      <div class="card-content">
        <% if @organizations.any? %>
          <span class="card-title-dark">Favourite Organizations</span>
          <div class="card-action">
            <a href = '/students/opportunities'>See Opportunities</a>
          </div>
          <% @organizations.each do |organization| %>
            <%= erb :'/partials/_show_organization', locals: { organization: organization } %>
          <form method="post" action="/favourite">
            <%= erb :'partials/_unfavourite_button', locals: { organization: organization } %>
          </form>
          <% end %>
          <% else %>
            <span class="card-title-dark">You haven't favourited any organizations yet</span>          <br>
            <br>
          <div class="card-action">
            <a href="/organizations">Browse Organizations</a></h3>
          </div>   
        <% end %>
      </div>
    </div>
  </div>
</div>
