<div> 
  <a href="/organizations/<%= organization.id %>" ><%= organization.name %></a>
  <span class="badge"><%= organization.favourites_count %> favourites</span> 
  <h5> Email: <%= organization.email %></h5> 
  <% if organization.phone_number %>
    <h5> Phone Number: <%= organization.phone_number %> </h5>
  <% end %>
</div>  