<div> 
  <h1> <%= @organization.name %> </h1>
  <p> Email: <%= @organization.email %> | Phone: <%= @organization.email %></p>  
</div>
<div> 
  <h3> Title: </h3>
  <h5> <%= @opportunity.title %> </h5>
  <h3> Content: </h3>
  <h5> <%= @opportunity.content %> <h5> 
</div>
