 <div class="row">
  <div class="col s4 offset-s1">
    <div class="card blue">
    <% if @organization.picture %>
      <div class="card-image">
        <img class="responsive-img image-card" src="<%=@organization.picture %>">
      </div>
    <% else %>
      <div class="card-image">
        <img class="responsive-img image-card" src="https://thebenclark.files.wordpress.com/2014/03/facebook-default-no-profile-pic.jpg">
      </div>
    <% end %>
      <div class="card-content white-text">
        <span class="card-title"><%= @organization.name%></span>    
          <br>
          <strong> Email: </strong> <br> 
          <%= @organization.email%>  
          <% if !@organization.phone_number.blank? %>
            <strong> Phone Number: </strong> 
          <%= @organization.phone_number%>
          <% end %>
          <br>
          <br>
          <% if current_org? %>
            <div class="card-action">
              <p class="psize"> <a href='/organizations/edit'>Edit Profile</a> </p>
            </div>
          <% end %>
      </div>
    </div>

    <% if current_org? %>
      <a href = '/organizations/opportunities'> 
      <div class = "btn btn-primary"> See/Add an Opportunity </div> </a>
    <% end %>
  </div>

    <div class="col s6 ">
      <div class="card">
        <div class="card-content">
          <% if current_org? && @students %>
            <span class="card-title-dark"> Interested Students</span>
            <br><br>
            <%= erb :'partials/_students' %>
          </div>
        </div>
  <% else %>
            <span class="card-title-dark"> Volunteer Opportunities</span>
            <% if @opportunities.any? %>
                <% @opportunities.each do |opportunity| %>
                  <%= erb :'partials/_opp_profile', locals: { opportunity: opportunity } %>
                <% end %>
            <% else %>
                <h3>No current opportunities</h3>
            <% end %>
        </div>
  <% end %>
  </div>

